body {
  font-family: Helvetica, Arial, sans-serif;
  margin: 20px 20%;
  color: #222;
  background: #fefefe;
}

code, pre {
  font-family: Menlo, Consolas, monospace;
  font-size: 15px;
  color: #111;
  background: #eef;
}
